<span class="daia-label">current status: </span>
<span ng-if="status == 'openaccess'" class="availability availability-available">{{status}}</span>
<span ng-if="status == 'loan'" class="availability availability-available">{{status}}</span>		
<span ng-if="status == 'presentation'" class="availability availability-presentation">{{status}}</span>
<span ng-if="status != 'openaccess' && status != 'loan' && status != 'presentation'" class="availability availability-unavailable">{{status}}</span>
<span ng-if="expected" class="availability availability-unavailable"> until {{expected}}</span>
