<span ng-if="status == 'openaccess'" class="availability availability-available" translate="{{status}}">{{status}}</span>
<span ng-if="status == 'loan'" class="availability availability-available" translate="{{status}}">{{status}}</span>
<span ng-if="status == 'presentation'" class="availability availability-presentation" translate="{{status}}">{{status}}</span>
<span ng-if="status != 'openaccess' && status != 'loan' && status != 'presentation' && status != 'expected'" class="availability availability-unavailable" translate="{{status}}">{{status}}</span>
<span ng-if="expected" class="availability availability-unavailable" translate="EXPECTED_BACK"> expected back: </span> 
<span ng-if="expected" class="availability availability-unavailable"> {{expected}}</span>
