<!-- default template used by daiaAvailability directive in module ng-daia -->

<span ng-if="!available && !unavailable">Availability unknown</span>
<ul class="availability" ng-if="available || unavailable">

    <li ng-if="available.length" ng-repeat="a in available">
        <span ng-if="unavailable[0].expected.length" class="availability availability-expected">{{a.service}}</span>
        <span ng-if="!unavailable[0].expected.length" class="availability availability-available">{{a.service}}</span>
        <span class="availability availability-limitation" ng-if="a.limitation.length"> ({{a.limitation[0].content}})</span>
    </li>
    <li ng-if="unavailable.length" ng-repeat="u in unavailable">
        <span ng-if="u.expected.length" class="availability availability-expected">{{u.service}}</span>
        <span ng-if="!u.expected.length" class="availability availability-unavailable">{{u.service}}</span>
        <span class="availability availability-limitation" ng-if="u.limitation.length"> ({{u.limitation[0].content}})</span>
    </li>
		<div class="returning">
    <li ng-if="unavailable[0].expected.length" class="availability availability-limitation">
        <span class="availability availability-limitation">currently lent until: {{unavailable[0].expected}}</span>
    </li>
    <li ng-if="unavailable[0].href.length && unavailable[0].expected.length">
        <a href="{{unavailable[0].href}}">place reservation</a>
    </li>
    </div>
</ul>
