<!-- default template used by daiaAvailability directive in module ng-daia -->
<ul class="availability" ng-if="available || unavailable">
    <li ng-if="available.length" ng-repeat="a in available">
        <span class ="service-label">{{a.service | translate}}:</span>
        <span class="availability availability-available" translate="available"></span>
        <span class="availability availability-limitation" ng-if="a.limitation.length"> ({{a.limitation[0].content}})</span>
    </li>
    <li ng-if="unavailable.length" ng-repeat="u in unavailable">
        <span class ="service-label" ng-if="u.expected.length">{{u.service | translate}}:</span>
        <span ng-if="u.expected.length" class="availability availability-expected" translate="unavailable"></span>
        <span class ="service-label" ng-if="!u.expected.length">{{u.service | translate}}:</span>
        <span ng-if="!u.expected.length" class="availability availability-unavailable" translate="unavailable"> </span>
    </li>
		<div class="returning">
      <li ng-if="unavailable[0].href.length && unavailable[0].expected.length">
          <div ng-if="unavailable[0].expected.length" class="returning returning-expected"><span translate>EXP</span>: {{unavailable[0].expected}} </div>
          <a href="{{unavailable[0].href}}" translate="RES">place reservation</a>
      </li>
    </div>
</ul>
<div class="access" ng-if="((available[1].service || available[0].service) == 'openaccess' || unavailable[0].service == 'openaccess')">
  access via: 
  <a ng-if="available[1].service == 'openaccess'" href="{{available[1].href}}">{{available[0].href}}</a>
  <a ng-if="unavailable[0].service == 'openaccess'" href="{{unavailable[0].href}}">{{available[0].href}}</a>
</div>
