<!-- default template used by daiaItem directive in module ng-daia -->

<div ng-if="item.department">
  <span class="daia-label">Department:</span> <a ng-if="item.department.href" href="{{item.department.href}}">{{item.department.content}}</a><span ng-if="!item.department.href">{{item.department.content}}</span>
</div>
<div>
<span class="daia-label">Shelf mark:  </span>{{item.label}}
</div>
<span ng-if="!item.available && !item.unavailable" class="daia-label">Availability: </span><span ng-if="!item.available && !item.unavailable">unknown</span></p>
<div daia-availability="item"></div>

