// as documented at http://angular-ui.github.io/bootstrap/#/getting_started
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

// Full response of daiaAPI directive
.daia-result { 
}

// used in daiaAPI template
.daia-response {
	display:inline-block;
	border:1px solid #E1E1E1;
	border-radius:4px;
	background:#FAFAFA;
	padding:15px;
}

.lbl{
	font-weight:bold;
}

.ab li{
	list-style-type:none;
}
.ab-av{
	color:green;
}
.ab-ex{
	color:#E6CA5F;
}
.ab-un{
	color:red;
}
.ab-lim{
	font-style:italic;
	color:black;
}
