<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>ng-daia demo</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
  <link href="ng-daia.css" rel="stylesheet" />
  <link href="app.css" rel="stylesheet" />

  <!-- first load angularjs -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>

  <!-- include ng-daia module from multiple files. Better use a single-file release for production! -->
    <script src="../src/ng-daia.js"></script>
    <script src="../src/directives/daiaApi.js"></script>
    <script src="../src/directives/daiaItem.js"></script>
    <script src="../src/directives/daiaAvailability.js"></script>
    <script src="../src/directives/daiaSimple.js"></script>
    <script src="../src/filters/daia-simple.js"></script>
    <script src="../lib/angular-translate.min.js"></script>
  <!-- short JavaScript snippet to active ng-daia -->
  <script src="app.js"></script>
</head>
<body ng-controller="myController">
  <header class="hero-unit" id="overview">
    <div class="container">
      <h1>
        AngularJS module for DAIA-Services
      </h1>
      <!--p>...subtitle...</p-->
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>daia-api <small>automatically query DAIA-Server</small></h1>
        </div>
      </div>
      <div class="col-md-6">
        <form role="form">
          <div class="form-group">
            <label>daia-api</label>
            <input ng-model="myAPI" class="form-control" />
          </div>
          <div class="form-group">
            <label>daia-id</label>
            <input ng-model="myID" class="form-control" />
          </div>
        </form>
        <span class="daia-label">More examples for daia-ids:</span>
        <ul>
			<li>opac-de-89:ppn:532043140  (different availabilities + limitation)</li>
			<li>opac-de-960:ppn:0717619370  (several copies available)</li>
			<li>opac-de-18:ppn:726541982  (online ressource, no open access)</li>
		</ul>
      </div>
      <div class="col-md-12">
        <label>DAIA query URL</label>
        <div><a href="{{myAPI}}?id={{myID}}&format=xml">{{myAPI}}?id={{myID}}</a></div>
        <h3>Document availability</h3>
        <div style="margin:10px 0px 10px 0px;">
        <button ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE"></button>
        <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
        </div>
        <div class="daia-response" daia-api="{{myAPI}}" daia-id="{{myID}}" daia-loading="daiaLoading">
            <i ng-show="daiaLoading" class="glyphicon glyphicon-refresh"></i>
        </div>
		<div daia-api="{{myAPI}}" daia-id="{{myID}}" daia-filter="daiaSimple" template-url="daia-simple"></div>
		<div daia-api="{{myAPI}}" daia-id="{{myID}}" template-url="debug"></div>

<script type="text/ng-template" id="daia-simple">
	<h3>Simple availability</h3>
	<h4>Via filter</h4>
	<div class="daia-result">
		<span class="daia-label" translate="STATUS">current status</span>:
		<span ng-if="daia.status == 'openaccess'" class="availability availability-available" translate="{{daia.status}}">{{daia.status}}</span>
		<span ng-if="daia.status == 'loan'" class="availability availability-available" translate="{{daia.status}}">{{daia.status}}</span>
		<span ng-if="daia.status == 'presentation'" class="availability availability-presentation" translate="{{daia.status}}">{{daia.status}}</span>
		<span ng-if="daia.status != 'openaccess' && daia.status != 'loan' && daia.status != 'presentation' && daia.status != 'expected'" class="availability availability-unavailable" translate="{{daia.status}}" translate="{{daia.status}}">{{daia.status}}</span>
		<span ng-if="daia.expected" class="availability availability-unavailable" translate="EXP"> until </span>
		<span ng-if="daia.expected" class="availability availability-unavailable">{{daia.expected}}</span>
	</div>
</script>

<script type="text/ng-template" id="debug">
    <h4>Via directory</h4>
	<p>
    <div class="daia-result" daia-simple="daia"></div>
    </p>
    <h3>DAIA response via AngularJS template </h3>
	<div class="well">
		api: {{api}}<br>
		id: {{id}}<br>
		daia: {{daia | json}}<br>
		daia: {{daia | daiaSimple | json}}
	</div>	
</script>

      </div>
    </div>
  </div>
</body>
</html>
