<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>ng-daia demo</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
  <link href="app.css" rel="stylesheet" />
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
  <script src="../src/ng-daia.js"></script>
  <script src="../src/directives/daiaApi.js"></script>
  <script src="../src/directives/daiaItem.js"></script>
  <script src="../src/directives/daiaAvailability.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="myController">
  <header class="hero-unit" id="overview">
    <div class="container">
      <h1>
        AngularJS module for DAIA-Services
      </h1>
      <!--p>...subtitle...</p-->
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>daia-api <small>automatically query DAIA-Server</small></h1>
        </div>
      </div>
      <div class="col-md-6">
        <form role="form">
          <div class="form-group">
            <label>daia-api</label>
            <input ng-model="myAPI" class="form-control" />
          </div>
          <div class="form-group">
            <label>daia-id</label>
            <input ng-model="myID" class="form-control" />
          </div>
        </form>
      </div>
      <div class="col-md-12">
        <label>DAIA query URL</label>
        <div><a href="{{myAPI}}?id={{myID}}&format=xml">{{myAPI}}?id={{myID}}</a></div>

        <div class="daia-result" daia-api="{{myAPI}}" daia-id="{{myID}}" daia-loading="daiaLoading">
          <i ng-show="daiaLoading" class="glyphicon glyphicon-refresh"></i>
        </div>

<script type="text/ng-template" id="template/daia-response.html">
<h3>Extracted Result</h3>
<div class="daia-result">
    <div>
        <span class="lbl">Queried institution:</span>  
        <a href="{{daia.institution.href}}">{{daia.institution.content}}</a>
    </div>
	<div>
        <span class="lbl">Catalogue entry:</span>
        <a href="{{daia.document[0].href}}">Link</a>
    </div>
    <div daia-documents="daia.document">
		<div ng-repeat="i in daia.document[0].item" class="item">
          <div daia-item="i"></div>
		</div>
	</div>
</div>
<h3>DAIA response via AngularJS template </h3>
<div class="well">
api: {{api}}<br>
id: {{id}}<br>
daia: {{daia | json}}
</div>
</script>

<script type="text/ng-template" id="template/daia-item.html">
    <div ng-if="item.department.href.length" class="lbl">
        Department: <a href="{{item.department.href}}">{{item.department.content}}</a>
    </div>
    <span class="lbl">Shelf mark:  </span>{{item.label}}<br>
    <p class="lbl">Availability:</p>
    <div daia-availability="item"></div>
</script>

<script type="text/ng-template" id="template/daia-availability.html">
    <span ng-if="!available && !unavailable">Availability unknown</span>
    <ul class="ab" ng-if="available || unavailable">
        <li ng-if="unavailable[0].expected.length" class="ab ab-lim">
            <span class="ab ab-lim">currently lent until: {{unavailable[0].expected}}</span>
        </li>
        <li ng-if="unavailable[0].expected.length">
            <a href="{{unavailable[0].href}}">place reservation</a>
        </li>
        <li ng-if="available.length" ng-repeat="a in available">
            <span ng-if="unavailable[0].expected.length" class="ab ab-ex">{{a.service}}</span>
            <span ng-if="!unavailable[0].expected.length" class="ab ab-av">{{a.service}}</span>
            <span class="ab ab-lim" ng-if="a.limitation.length"> ({{a.limitation[0].content}})</span>
        </li>
        <li ng-if="unavailable.length" ng-repeat="u in unavailable">
            <span ng-if="u.expected.length" class="ab ab-ex">{{u.service}}</span>
            <span ng-if="!u.expected.length" class="ab ab-un">{{u.service}}</span>
            <span class="ab ab-lim" ng-if="u.limitation.length"> ({{u.limitation[0].content}})</span>
        </li>
    </ul>
</script>

      </div>
    </div>
  </div>
</body>
</html>
