/* Standard stylesheet for ng-daia module templates */

/* Full response of daiaAPI directive */

.daia-response {
}
/* used in daia-response template */

.daia-result {
	display:inline-block;
	border:1px solid #E1E1E1;
	border-radius:4px;
	background:#f5f5f5;
	padding:15px;
}
/* Single items of the response */

.daia-document{
	margin-top:10px;
	border:1px solid #E1E1E1;
	padding:10px;
	background:#f8f8f8;
}
.daia-label{
	font-weight:bold;
}
.service-label{
  float:left;
  width:100px;
}
.availability{
  margin-bottom:-8px;
}
.availability li{
	list-style-type:none;
  margin-left:-40px;
}
.availability-available{
	color:green;
  left:140px;
}
.availability-expected{
	color:red;
  left:140px;
}
.availability-unavailable{
	color:red;
  left:140px;
}
.availability-limitation{
	font-style:italic;
	color:black;
}
.availability-presentation{
	color:#EDCC37;
	left:140px;
}
.daia-simple-icon{
    margin-top:-5px;
}
.returning{
	margin:8px 0px 8px 0px;
}
.returning-expected{
  margin-bottom:0px;
}
.access{
}
