/* Standard stylesheet for ng-daia module templates */

/* Full response of daiaAPI directive */

.daia-response {
}
/* used in daia-response template */

.daia-result {
	display:inline-block;
	border:1px solid #E1E1E1;
	border-radius:4px;
	background:#f5f5f5;
	padding:15px;
}
/* Single items of the response */

.daia-document{
    margin-top:10px;
    border:1px solid #E1E1E1;
    padding:10px;
    background:#f8f8f8;
}
.daia-label{
    font-weight:bold;
}
.service-label{
    float:left;
    width:100px;
}
.availability{
    margin-bottom:-8px;
}
.availability li{
    list-style-type:none;
    margin-left:-40px;
}
.availability-available{
    color:green;
    left:140px;
}
.availability-expected{
    color:red;
    left:140px;
}
.availability-unavailable{
    color:red;
    left:140px;
}
.availability-limitation{
    font-style:italic;
    color:black;
}
.availability-presentation{
    color:#EDA41C;
    left:140px;
}
.simple-openaccess:before{
    content:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARdJREFUeNqk069LQ1EUwPGLTk2yMNC0ZBA0azOvCLIkKGa7CkZNxv0FZqvVujJwVjcwmISBQdAyNhGe3zO+k4s/QHgHPruXe84Z9937Xko/YxttFN+0zf0ZCxhnDUPca5itj62dxIzjHEZ4RdO1Bi7VcK1pzcier4iFgfMObp2fKLnWcT6wZxI7vzzvf0Vv6uIGNVyYWEYdV6q7VlhTs6db4WcD63jBG/p4dncPjk+OfWui9gi9ioljPGIPazhH5HazQ/4wd4BZrOS3UCoK/zniNLaV5c40jZ41yZ4itnmHFvZRNREHNo9Vi+MQ381VPcSWveWvsdSLNL2FRbcY13eIa2x58sn5pq9y1Cz5iOU/plT2c/4UYACtjnkdowglFAAAAABJRU5ErkJggg==);
    margin-right:5px;
    vertical-align:-7%;
}
.simple-loan:before{
    content:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAHNJREFUOMu1kdENgCAMRF+IAzCio7gJI3UERnAE/FFCCLRV4kv4aNO7XgqMicABnEAGdpy0wtI91WgkfASzfsUcMBb4IipGtXhLubW1+GJAcAyp5oFFfjGIgHTRC5DMg3RIc4NkaWaHEmWzy2D5G022xRRcFVs6OCDHiFsAAAAASUVORK5CYII=);
    margin-right:5px;
    vertical-align:-7%;
}
.simple-presentation:before{
    content:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAH9JREFUOMutkssNgCAQBQejZy3DsiyFTi3BAjzgRQiSJz+dhMOy+/YHoFkACxzADmxUEgtdcrKJlNAL3u4DxYBCgboWM4mCkWKjICv87tYGwzMBs1iiSsAgHCcdxBXWhhG00VJUjaA+kUuX5jFRNlPZzUMz8JExU6GKXzvoeQku09tD8aC5QxsAAAAASUVORK5CYII=);
    margin-right:5px;
    vertical-align:-7%;
}
.returning{
    margin:8px 0px 8px 0px;
}
.returning-expected{
  margin-bottom:0px;
}
.access{
}
